@model FileUploadModel

<h1 class="govuk-heading-l">
  @(Model.MetaData.Question ?? "Upload files")
</h1>

<govuk-file-upload for="@Model.Contents" javascript-enhancements="true" label-class="govuk-label--m" input-accept=".pdf">
  <govuk-file-upload-label>Upload a file</govuk-file-upload-label>
  @if (Model.MetaData.Hint is not null)
  {
    <govuk-file-upload-hint>
      @(Model.MetaData.Hint)
    </govuk-file-upload-hint>
  }
</govuk-file-upload>