@{
    // ReSharper disable once Razor.LayoutNotResolved
    Layout = "_GovUkPageTemplate";
}

@* ReSharper disable once Razor.SectionNotResolved *@
@section BodyStart {
    
}

@* ReSharper disable once Razor.SectionNotResolved *@
@section Header {
    @await Html.PartialAsync("_LayoutHeader")
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @RenderBody()
    </div>
</div>

@* ReSharper disable once Razor.SectionNotResolved *@
@section Footer {
    @await Html.PartialAsync("_LayoutFooter")
}