@inject IOptions<AnalyticsOptions> Analytics;
@inject IPagePropertiesProvider PagePropertiesProvider; 
@{
    // ReSharper disable once Razor.LayoutNotResolved
    Layout = "_GovUkPageTemplate";
}

@* ReSharper disable once Razor.SectionNotResolved *@
@section BodyStart {
    
}

@* ReSharper disable once Razor.SectionNotResolved *@
@section Header {
    @if (Analytics.Value.IsEnabled)
    {
        <script src="@(Analytics.Value.Url)" data-site-id="@(Analytics.Value.SiteId)" defer>
        </script>
    }
    @await Html.PartialAsync("_LayoutHeader")
}

<div class="govuk-width-container">
    
    @* ReSharper disable once Razor.SectionNotResolved *@
    @section ContainerStart {
        @await Html.PartialAsync("_BackButton")
    }

    @if (PagePropertiesProvider.FullPageLayout)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                @RenderBody()
            </div>
        </div>
    }
    else
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                @RenderBody()
            </div>
        </div>
    }
</div>

@* ReSharper disable once Razor.SectionNotResolved *@
@section Footer {
    @await Html.PartialAsync("_LayoutFooter")
}