@model IncomeModel

@{
    string action = nameof(IncomesController.GrossIncome);
}

<inss-previous-button previous-url="@Url.Action(nameof(IncomesController.SourceOfIncome))" />

<form asp-action="@action" method="post">

    @await Html.PartialAsync($"_{action}", Model.GrossIncome)

    <govuk-button type="submit">Next</govuk-button>

</form>


