@model IncomeModel

@{
    string action = nameof(IncomesController.IncomeProvider);
}

<inss-previous-button previous-url="@Url.Action(nameof(IncomesController.PaymentFrequency))" />

<form asp-action="@action" method="post">

    @await Html.PartialAsync($"_{action}", Model.IncomeProvider)

    <govuk-button type="submit">Next</govuk-button>

</form>
