@model IncomeModel

@{
    string action = nameof(IncomesController.SourceOfIncome);
}

<form asp-action="@action" method="post">

    @await Html.PartialAsync($"Incomes/_{action}", Model.SourceOfIncome)

    <govuk-button type="submit">Next</govuk-button>

</form>


