@model IncomeModel

@{
    ViewData["Title"] = "Alpha Demo - Income";
    string action = nameof(IncomesController.SourceOfIncome);
}

<form asp-action="@action" method="post">

    @await Html.PartialAsync($"_{action}", Model.SourceOfIncome)

    <govuk-button type="submit">Next</govuk-button>

</form>


