@{
    ViewData["Title"] = "Roles";
}

<h1 class="govuk-heading-xl">Roles</h1>

<govuk-details>
    <govuk-details-summary>
        This is where the application roles live
    </govuk-details-summary>
    <govuk-details-text>
        Full details of how to manage application roles could go here.
    </govuk-details-text>
</govuk-details>
