@model string

@{
    ViewData["Title"] = "Alpha Demo - Contact us";
}

<div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
        Thank you @Model
    </h1>
</div>

<div class="govuk-body">
    <p>
        Your message has been received. We will review your enquiry and respond as soon as possible.
    </p>
    <p>
        If your message requires urgent attention, please contact us using the details provided on our <a class="govuk-link" href="/Home/ContactUs">Contact Us</a> page.
    </p>
</div>

