@model ContactUsViewModel

@{
    ViewData["Title"] = "Alpha Demo - Contact us";
}

<form method="post">

    <govuk-fieldset>
    <govuk-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">Contact Us</govuk-fieldset-legend>

    <govuk-input for="@Model.Name" input-class="govuk-input--width-30" inputmode="text" spellcheck="false">
        <govuk-input-label is-page-heading="false" class="govuk-label">What is your name?</govuk-input-label>
    </govuk-input>

    <govuk-input for="@Model.Email" input-class="govuk-input--width-30" inputmode="text" spellcheck="false">
        <govuk-input-label is-page-heading="false" class="govuk-label">What is your email address?</govuk-input-label>
    </govuk-input>

    <govuk-input for="@Model.Subject" input-class="govuk-input--width-30" inputmode="text" spellcheck="false">
        <govuk-input-label is-page-heading="false" class="govuk-label">What is the subject?</govuk-input-label>
    </govuk-input>

    <govuk-textarea for="@Model.Message">
        <govuk-textarea-label class="govuk-label" is-page-heading="true">
            Enter your message
        </govuk-textarea-label>
    </govuk-textarea>

    </govuk-fieldset>

    <govuk-button type="submit">Continue</govuk-button>
</form>
