@model ReportIssueViewModel

@{
    ViewData["Title"] = "Alpha Demo - Report issue";
}

<form method="post">

    <govuk-fieldset>
    <govuk-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">Report an Issue</govuk-fieldset-legend>

    <govuk-input for="@Model.Name" input-class="govuk-input--width-30" inputmode="text" spellcheck="false">
        <govuk-input-label is-page-heading="false" class="govuk-label">What is your name?</govuk-input-label>
    </govuk-input>

    <govuk-input for="@Model.Email" input-class="govuk-input--width-30" inputmode="text" spellcheck="false">
        <govuk-input-label is-page-heading="false" class="govuk-label">What is your email address?</govuk-input-label>
    </govuk-input>

    <govuk-input for="@Model.Area" input-class="govuk-input--width-30" inputmode="text" spellcheck="false">
        <govuk-input-label is-page-heading="false" class="govuk-label">What area are you having issues with?</govuk-input-label>
    </govuk-input>

    <govuk-textarea for="@Model.Issue">
        <govuk-textarea-label class="govuk-label" is-page-heading="true">
            Enter full details of your issue.
        </govuk-textarea-label>
    </govuk-textarea>

    </govuk-fieldset>

    <govuk-button type="submit">Continue</govuk-button>
</form>
