@{
    ViewData["Title"] = "Alpha Demo - Site map";
}

<h1 class="govuk-heading-l">Site Map</h1>
<ul class="govuk-list govuk-list--bullet">
    <li><a class="govuk-link" href="/Home">Home</a></li>
    <li><a class="govuk-link" href="/AboutYou/UserFullName">About you</a></li>
    <li><a class="govuk-link" href="/Incomes/SourceOfIncome">Incomes</a></li>
    <li><a class="govuk-link" href="/BankDetails/Index">Bank details</a></li>
    <li><a class="govuk-link" href="/Home/ContactUs">Contact us</a></li>
    <li><a class="govuk-link" href="/Home/ReportIssue">Report an issue</a></li>
    <li><a class="govuk-link" href="/Home/Privacy">Privacy policy</a></li>
</ul>