
a.rebranded-one-login-header__nav__link {
    font-weight: 600 !important;
    background: none;
    border: none;
    height: 100%;
    padding: 0;
    cursor: pointer;
    color: inherit;
    font: inherit;
    display: inline;
}

a.rebranded-one-login-header__nav__link:hover {
    text-decoration: none;
}

a.rebranded-one-login-header__nav__link:hover:after,
a.rebranded-one-login-header__nav__link:active:after {
    display: block;
    background-color: #ffffff;
}

.rebranded-one-login-header__nav__list-item {
    align-items: stretch !important;
}

@media (min-width: 40.0625em) {
    a.rebranded-one-login-header__nav__link {
        position: relative;
        padding: 15px 0;
    }
}

td.govuk-table__cell {
    word-break: break-all;
    white-space: normal;
}