@model Inss.GovUk.Forms.IPUpload.Domain.Validation.ErrorSummary

@if (Model.Properties.Length > 0)
{
  <h2 class="govuk-heading-m">@(Model.Category)</h2>
  <dl class="govuk-summary-list">
    @foreach (var error in Model.Properties)
    {
      <div class="govuk-summary-list__row">

        <dt class="govuk-summary-list__key">
          @(error.GetProperty())
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">@(error.GetFormattedMessage())</p>
          @if (error.GetHint() is not null)
          {
            <p class='govuk-body govuk-hint'>@(error.GetHint())</p>
          }
        </dd>
        @if (error.IsEmployeeErrors)
        {
          <dd class="govuk-summary-list_actions">
            <a class="govuk-link" href="/ip-upload/redundancy-payment/upload-error-details/?state=@error.Id">View details</a>
          </dd>
        }
      </div>
    }
  </dl>
}