@model IPUploadXmlErrorsModel

<h1 class="govuk-heading-l">Your form has errors</h1>

<p class="govuk-body">You uploaded:<br><strong>@Model.Filename</strong></p>

<p class="govuk-body">The following errors were found when validating your form. Check the details and try uploading again.</p>

@* Common errors - RP14(A) *@
@await Html.PartialAsync("_IPUploadXmlCategoryErrors", Model.GetSummaryForCategory("Case"))

@* Employee errors - RP14A *@
@await Html.PartialAsync("_IPUploadXmlCategoryErrors", Model.GetSummaryForCategory("Employer"))
@await Html.PartialAsync("_IPUploadXmlCategoryErrors", Model.GetSummaryForCategory("Employee"))
@await Html.PartialAsync("_IPUploadXmlCategoryErrors", Model.GetSummaryForCategory("Employee pay"))
@await Html.PartialAsync("_IPUploadXmlCategoryErrors", Model.GetSummaryForCategory("Employee holiday"))

@* Employer errors - RP14 *@
@await Html.PartialAsync("_IPUploadXmlCategoryErrors", Model.GetSummaryForCategory("Business"))
@await Html.PartialAsync("_IPUploadXmlCategoryErrors", Model.GetSummaryForCategory("Director"))
@await Html.PartialAsync("_IPUploadXmlCategoryErrors", Model.GetSummaryForCategory("Shareholders"))
@await Html.PartialAsync("_IPUploadXmlCategoryErrors", Model.GetSummaryForCategory("Associated company"))
@await Html.PartialAsync("_IPUploadXmlCategoryErrors", Model.GetSummaryForCategory("Employment continuity"))
@await Html.PartialAsync("_IPUploadXmlCategoryErrors", Model.GetSummaryForCategory("Transfers"))
@await Html.PartialAsync("_IPUploadXmlCategoryErrors", Model.GetSummaryForCategory("Pay records contact"))