@model Inss.GovUk.Forms.IPUpload.Domain.Validation.ErrorInfo[]

@if (Model.Length > 0)
{
  <h2 class="govuk-heading-m">@(Model.First().Category)</h2>
  <dl class="govuk-summary-list">
    @foreach (var error in Model)
    {
      <div class="govuk-summary-list__row">

        <dt class="govuk-summary-list__key">
          @(error.Property)
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">@(error.Error.Replace("[COUNT]", error.Count.ToString()))</p>
          @if (error.Hint is not null)
          {
            <p class='govuk-body govuk-hint'>@(error.Hint)</p>
          }
        </dd>
        <dd class="govuk-summary-list_actions">
          <a class="govuk-link" href="/ip-upload/redundancy-payment/upload-error-details/?state=@error.Id">View details</a>
        </dd>
      </div>
    }
  </dl>
}