@model PostSubmitModel
@inject IPagePropertiesProvider PagePropertiesProvider

@{
    PagePropertiesProvider.PreviousPagePath = null;
}

<govuk-panel heading-level="2">
    <govuk-panel-title>Redundancy payment form(RP14/A) submitted</govuk-panel-title>
    <govuk-panel-body>
        Your reference number<br><strong>@(Model.ReferenceNumber)</strong>
    </govuk-panel-body>
</govuk-panel>

<h2 class="govuk-heading-m">What happens next</h2>

<p class="govuk-body">
    You will receive a confirmation email, the email will tell you if your form has been accepted or rejected.
</p>

<p class="govuk-body">
    If your form has been rejected the email will contain the reason for the rejection.
</p>