@{
    string root = new WebRoot().Root;
}

<h1 class="govuk-heading-l">Upload redundancy payment forms (RP14/A)</h1>

<p class="govuk-body">Once logged into the system you will be able to upload RP14/A forms.</p>

<p class="govuk-body">Access to this service is restricted to Insolvency Practitioners, authorised Agents acting on their behalf, Service Managers and Staff.</p>

<h2 class="govuk-heading-m">Before you start</h2>
<p class="govuk-body">Please ensure that you have a unique e-mail address registered with the Insolvency Service.</p>

<a href="@root" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button" data-govuk-button-init="">
    Start now
    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
    </svg>
</a>

