<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
                <p class="govuk-body">Try again later.</p>
                <p class="govuk-body">Any error that occurred up to this point, will have been saved and you can retrieve them by signing in again.</p>
                <p class="govuk-body">
                    <a class="govuk-link" href="/">Return to the landing page</a> to continue.
                </p>
            </div>
        </div>
    </main>
</div>