<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Sorry, the page you requested cannot be found</h1>
                <p class="govuk-body">Try again later.</p>
                <p class="govuk-body">
                    <a class="govuk-link" href="/">Return to the landing page</a> to continue.
                </p>
            </div>
        </div>
    </main>
</div>