@model BankDetailsModel

@{
    ViewData["Title"] = "Alpha Demo - Bank details";
}

<form asp-action="Index" method="post">

    @await Html.PartialAsync($"_BankDetails", Model)

    <govuk-button type="submit">Next</govuk-button>
</form>


