@{
    ViewData["Title"] = "Applications";
}

<h1 class="govuk-heading-xl">Applications</h1>

<govuk-details>
    <govuk-details-summary>
        This is where the applications live
    </govuk-details-summary>
    <govuk-details-text>
        Full details of how to manage applications could go here.
    </govuk-details-text>
</govuk-details>
