@model LoginModel

<h1 class="govuk-heading-l">Sign in</h1>

@using (Html.BeginForm(Model))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ReturnUrl)

    <govuk-input for="Email" input-class="govuk-input govuk-!-width-two-thirds" spellcheck="false" autocomplete="email">
        <govuk-input-label is-page-heading="true" class="govuk-label--s">Email address</govuk-input-label>
    </govuk-input>
    
    <div class="govuk-form-group govuk-password-input govuk-!-width-two-thirds">
    <govuk-password-input for="Password" autocomplete="current-password" show-password-text="Show" label-class="govuk-label--s">
        <govuk-password-input-label>Password</govuk-password-input-label>
    </govuk-password-input>
    </div>
    
    <govuk-button type="submit">Sign in</govuk-button>
}

<p class="govuk-body">
    <a href="@(Model.ForgotPasswordUrl)">Forgot password</a>
</p>