{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Section 3 – Corporate Director - Recorded at Companies House</h1>

    <form class="form" action="/corpRecordedAtCompaniesHouse-answer" method="post">

      {{ govukRadios({
        name: "corpRecordedAtCompaniesHouse",
        value: data['corpRecordedAtCompaniesHouse'],
        fieldset: { legend: { text: "Is this corporate body recorded as a director of the company at Companies House?" } },
        items: [
          { value: "yes", text: "Yes" },
          { value: "no", text: "No" }
        ]
      }) }}

      {{ govukButton({ text: "Continue" }) }}

    </form>
  </div>
</div>

{% endblock %}
