{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Section 2 - Company Details - Failed Companies
      </h1>

      <form class="form" action="/failedCompanies-answer" method="post">

		{{ govukRadios({
			name: "failedCompanies",
			value: data['failedCompanies'],
			fieldset: {
				legend: {
					text: "Are you aware of any failed companies linked to the company’s directors?"
				}
			},
			items: [
				{
				value: "yes",
				text: "Yes"
				},
				{
				value: "no",
				text: "No"
				}
			]
		}) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
