{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Section 3 – Individual Director - Acted as Director</h1>

    <form class="form" action="/evidenceActedAsDirector-answer" method="post">

      {{ govukRadios({
        name: "evidenceActedAsDirector",
        value: data['evidenceActedAsDirector'],
        fieldset: {
          legend: { text: "Is there evidence that this person acted as a director of the company?" }
        },
        items: [
          { value: "yes", text: "Yes" },
          { value: "no", text: "No" }
        ]
      }) }}

      {{ govukButton({ text: "Continue" }) }}
    </form>
  </div>
</div>


{% endblock %}
