{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Section 11 – Director Conduct – Successor Trading - Directors Involved in Previous Failures</h1>
    <form class="form" action="/directorsInvolvedBefore-answer" method="post">

      {{ govukRadios({
        name: "directorsInvolvedBefore",
        value: data['directorsInvolvedBefore'],
        fieldset: {
          legend: {
            text: "Were any of this company’s directors involved in those previous failures?"
          }
        },
        items: [
          { value: "yes", text: "Yes" },
          { value: "no", text: "No" }
        ]
      }) }}

      {{ govukButton({ text: "Continue" }) }}

    </form>
  </div>
</div>


{% endblock %}
