{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Section 5 - Books and Records - Change In Accounts
    </h1>

    <form class="form" action="/changeExplained-answer" method="post">

      {{ govukRadios({
        name: "changeExplained",
        value: data['changeExplained'],
        fieldset: {
          legend: {
            text: "Can the change between the company’s last accounts and your appointment be explained by the available records?"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          },
          {
            value: "uncertain",
            text: "Uncertain"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>


{% endblock %}
