{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
	  Section 1 - Conduct Reporter Details
      </h1>

      <form class="form" action="/section-01-02-company-report-details" method="post">

		{{ govukInput({
			label: {
				text: "Who should we contact about this report?"
			},
			id: "contact-name",
			name: "contactName",
			hint: {
				text: "The name of the person administering the conduct report"
			}
		}) }}

		{{ govukInput({
			label: {
				text: "What is their telephone number?"
			},
			id: "contact-telephone",
			name: "contactTelephone"
		}) }}
		
		{{ govukInput({
			label: {
				text: "What is their email address?"
			},
			id: "contact-email",
			name: "contactEmail"
		}) }}		

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
