{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Section 13 – Director Conduct – Financial Support Schemes</h1>
    <form class="form" action="/schemeMisuse-answer" method="post">

      {{ govukRadios({
        name: "schemeMisuse",
        value: data['schemeMisuse'],
        fieldset: {
          legend: {
            text: "Has the company received funding from a financial support scheme where false information was provided, or the money was not used as intended?"
          }
        },
        items: [
          { value: "yes", text: "Yes" },
          { value: "no", text: "No" }
        ]
      }) }}

      {{ govukButton({ text: "Continue" }) }}

    </form>
  </div>
</div>


{% endblock %}
