{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Section 3 – Indivudal Director - Deceased Director Details</h1>

    <form class="form" action="soleDirector-answer" method="post">

      {{ govukDateInput({
        id: "date-of-death",
        namePrefix: "date-of-death",
        fieldset: {
          legend: { text: "Date of death (if known)" }
        }
      }) }}

      {{ govukRadios({
        name: "soleDirector",
        value: data['soleDirector'],
        fieldset: {
          legend: { text: "Is this the sole director of the company?" }
        },
        items: [
          { value: "yes", text: "Yes" },
          { value: "no", text: "No" }
        ]
      }) }}

      {{ govukButton({ text: "Continue" }) }}
    </form>
  </div>
</div>


{% endblock %}
