{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Section 14 - Bounce Back Loans - Ineligible or Misused
      </h1>

      <form class="form" action="/bounceBack-answer" method="post">

		{{ govukRadios({
			name: "bounceBack",
			value: data['bounceBack'],
			fieldset: {
				legend: {
					text: "Did the company apply for a Bounce Back Loan it was not eligible for, or use the loan in a way it should not have?"
				}
			},
			items: [
				{
				value: "yes",
				text: "Yes"
				},
				{
				value: "no",
				text: "No"
				}
			]
		}) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
