{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Section 3 – Corporate Director - Appointment Dates Companies House</h1>

    <form class="form" action="/section-03b-09-corporate-director-third-failure" method="post">

      {{ govukDateInput({
        id: "corp-appointment",
        namePrefix: "corp-appointment",
        fieldset: { legend: { text: "Date of appointment" } }
      }) }}

      {{ govukDateInput({
        id: "corp-resignation",
        namePrefix: "corp-resignation",
        fieldset: { legend: { text: "Date of resignation (if applicable)" } }
      }) }}

      {{ govukButton({ text: "Continue" }) }}

    </form>
  </div>
</div>


{% endblock %}
