
<!DOCTYPE html>
<html lang="en" class="govuk-template govuk-template--rebranded">
<head>
    <meta charset="utf-8" />
    <title>GOV.UK - The best place to find government services and information</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="theme-color" content="#1d70b8">
    <link rel="icon" sizes="48x48" href="/assets/rebrand/images/favicon.ico">
    <link rel="icon" sizes="any" href="/assets/rebrand/images/favicon.svg" type="image/svg+xml">
    <link rel="mask-icon" href="/assets/rebrand/images/govuk-icon-mask.svg" color="#1d70b8">
    <link rel="apple-touch-icon" href="/assets/rebrand/images/govuk-icon-180.png">
    <link rel="manifest" href="/assets/rebrand/manifest.json">

    <link rel="stylesheet" href="/css/global.css" />
    <link href="/css/service-header.css" rel="stylesheet" />
    <link href="/frontend/govuk-frontend-5.11.1.min.css" rel="stylesheet" />

    <base href="/" />

    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["INSS.Platform.UserManagement.Web.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <noscript>
        <div style="background-color: #ddffdd; color:  #070; padding: 10px; text-align: center;">
            JavaScript is currently turned off in your browser. You can still access and use all site features with JavaScript disabled.
        </div>
    </noscript>
    <div id="js-enabled-message" style="display:none; background-color: #ffdddd; color: #900; padding: 10px; text-align: center;">
        JavaScript is enabled in your browser, disable it to ensure that this application still works with JavaScript disabled.
    </div>
    <script>
        document.getElementById('js-enabled-message').style.display = 'block';
    </script>

    <GovUKLoginHeader />

    <div class="govuk-width-container">
        <br />

        <Routes />
    </div>

    <GovUKFooter />

</body>
</html>
