@page "/Error/{ErrorMessage}"

@inject ILogger<Error> Logger

<PageTitle>Error</PageTitle>

<h2 class="govuk-heading-m">
    <span class="govuk-visually-hidden">Error:</span>
    An error occurred while processing your request.
</h2>

<br/>

<p class="govuk-error-message">
    <span class="govuk-visually-hidden">Error:</span>
    @ErrorMessage
</p>

<br />

@code{
    [Parameter]
    public string ErrorMessage { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        Logger.LogError("Error page displayed with message: {ErrorMessage}", ErrorMessage);
    }
}
