@{
    ViewData["Title"] = "Full Name Details";
}

@addTagHelper GovUk.Frontend.AspNetCore.TagHelpers.*, GovUk.Frontend.AspNetCore
@addTagHelper INSS.Platform.Portal.Web.Components.TagHelpers.*, INSS.Platform.Portal.Web.Components

@model INSS.Platform.Portal.Domain.FullNameModel

<govuk-back-link href="@Model.PreviousPageUrl" />

<form method="post">
    <govuk-input for="@Model.FullName" input-class="govuk-input--width-30" inputmode="text" spellcheck="false">
        <govuk-input-label is-page-heading="true" class="govuk-label--l">What is your full name?</govuk-input-label>
        <govuk-input-hint>Enter your first name, middle name (if applicable), and last name</govuk-input-hint>
    </govuk-input>
    <inss-error-message asp-for="@Model.FullName"/>
    <govuk-button type="submit">Save and continue</govuk-button> 
</form>
