@page "/"
@inject ILogger<GovUKLoginHeader> Logger
@inject IAuthenticationHelper AuthenticationHelper


<PageTitle>Insolvency Service</PageTitle>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content">
        <h1 class="govuk-heading-xl">User Management</h1>

        <p class="govuk-body">Welcome to the Insolvency Service - User Management Application.</p>

        @if (isSignedIn)
        {
            <h3 class="govuk-heading-m"><b>You are logged in!</b></h3>
            <p class="govuk-body"><b>Your OneLogin Provider User Id is:</b> @providerLoginId</p>
            <p class="govuk-body">To sign out, please <b>click the 'sign out' button</b> in the top right corner.</p>
        }
        else
        {
            <p class="govuk-body">To get started, <b>please click the login button</b> in the top right corner.</p>
        }

    </main>
</div>

@code {
    private bool isSignedIn { get; set; } = false;
    private string providerLoginId = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync().ConfigureAwait(false);

        Logger.LogInformation("Initializing Home Page Component.");

        isSignedIn = AuthenticationHelper.IsUserSignedIn();

        providerLoginId = AuthenticationHelper.GetLoginProviderUserId() ?? string.Empty;
    }
}
