@page "/logout"
@using INSS.Platform.Common.Auth.Contracts.Response
@inject ILogger<Logout> Logger
@inject IHttpContextAccessor HttpContextAccessor
@inject NavigationManager Navigation
@inject IConfiguration Configuration
@inject IAuthenticationHelper AuthenticationHelper

<PageTitle>Insolvency Service</PageTitle>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content">

        <h3 class="govuk-heading-m"><b>You have been signed out!</b></h3>

        <p class="govuk-body"><b>To get started, please click the login button in the top right corner.</b></p>

    </main>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        Logger.LogInformation("User initiated logout.");


        if(! AuthenticationHelper.IsUserSignedIn())
        {
            return;
        }

        TokenData? tokenData = null;
        if (!AuthenticationHelper.TryGetAuthTokenDataFromCookie(out tokenData) || tokenData is null)
        {
            string error = Uri.EscapeDataString("Unable find auth data cookie. Try again or come back later.");
            Navigation.NavigateTo($"/error/{error}", true);
            return;
        }

        bool loggedOut = await AuthenticationHelper.LogoutAsync(new LogoutRequest { IdToken = tokenData.AccessToken });
        if (!loggedOut)
        {
            string error = Uri.EscapeDataString("Logout process failed. Try again or come back later.");
            Navigation.NavigateTo($"/error/{error}", true);
            return;
        }

        HttpContext httpContext = HttpContextAccessor.HttpContext!;
        if (httpContext == null)
        {
            string error = Uri.EscapeDataString("Failed to access HttpContext. Try again or come back later.");
            Navigation.NavigateTo($"/error/{error}", true);
            return;
        }

        AuthenticationHelper.DeleteAuthCookies();

        // Now that logout is complete, navigate to home page, this will ensure the cookies are re-read and user is shown as logged out.
        Navigation.NavigateTo("/", true);
    }
}