@model AboutYouModel

@{
    string action = nameof(AboutYouController.DateOfBirth);
}

<inss-previous-button previous-url="@Url.Action(nameof(AboutYouController.UserFullName))" />

<form asp-action="@action" method="post">

    @await Html.PartialAsync($"AboutYou/_{action}", Model.DateOfBirth)

    <govuk-button type="submit">Next</govuk-button>

</form>


