@model AboutYouModel

@{
    string modelName = @ViewContext.RouteData.Values["controller"]?.ToString() ?? string.Empty;
    string modelProperty = nameof(Model.EmailAddress);
}

<inss-previous-button previous-url="@Url.Action("TelephoneNumber")" />

<form asp-controller="@modelName"
      asp-action="@modelProperty"
      method="post">

    @await Html.PartialAsync($"{modelName}/_{modelProperty}", Model)

    <govuk-button type="submit">Next</govuk-button>
</form>


