@model AboutYouModel

@{
    string action = nameof(AboutYouController.TelephoneNumber);
}

<inss-previous-button previous-url="@Url.Action(nameof(AboutYouController.UserAddress))" />

<form asp-action="@action" method="post">

    @await Html.PartialAsync($"AboutYou/_{action}", Model.TelephoneNumber)

    <govuk-button type="submit">Next</govuk-button>
</form>


