@model AboutYouModel

@{
    ViewData["Title"] = "Alpha Demo - About you";
    string action = nameof(AboutYouController.UserFullName);
}

<form asp-action="@action" method="post">

    @await Html.PartialAsync($"_{action}", Model.FullName)

    <govuk-button type="submit">Next</govuk-button>

</form>


