@{
    ViewData["Title"] = "Confirm";
}

@addTagHelper GovUk.Frontend.AspNetCore.TagHelpers.*, GovUk.Frontend.AspNetCore
@addTagHelper INSS.Platform.Portal.Web.Components.TagHelpers.*, INSS.Platform.Portal.Web.Components

@model INSS.Platform.Portal.Domain.ConfirmModel

<govuk-back-link href="@Model.PreviousPageUrl" />

<form method="post">
    <govuk-radios for="@Model.Confirm" orientation="Vertical">
        <govuk-radios-item value="true">Yes</govuk-radios-item>
        <govuk-radios-item value="false">No</govuk-radios-item>
    </govuk-radios>
    <inss-error-message asp-for="@Model.Confirm" />
    <govuk-button type="submit">Save and continue</govuk-button>
</form>